.banner{
    margin: 0;
    padding: 0;
    border: 2px solid red;
    background: black;
}
.nav-bar{
    margin-top: 2.9vw;
    margin-left: 9.8vw;
    margin-right: 9.8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner h1{
    color: red;
font-family: Inter;
font-size:  1.8vw;
font-weight: 800;
}
nav ul{
    display: flex;
    gap: 1.8vw;
    list-style-type: none;
}
nav ul a{
    text-decoration: none;
    color: white;
}
.home{
    background-color: red;
    width: 4.7vw;
    height: 1.9vw;
    padding: 0.4vw 1.4vw;
    border-radius:  2.396vw;
}
.banner-content{
    display: flex;
     

}
.banner-text{
    margin-left: 9.896vw;
    margin-bottom: 3.958vw;
}
.banner-text h1{
    font-size:  4.063vw;
    font-family: inter;
    font-weight: 900;
    color: white;
}
.banner-text p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.833vw;
font-weight: 400;
line-height:  1.25vw;
letter-spacing: 0.026vw;
text-align: left;
}
.join-club{
    width: 11.667vw;
height: 2.813vw;
    border-radius: 2.188vw;

background: rgb(230, 83, 60);
color: white;

}
.download{ 

width: 11.667vw;
height:2.813vw;
border-radius: 2.188vw;
padding: 0.833vw 2.083vw;
background-color: black;
color: white;
border: 1px solid rgb(255, 255, 255);
 
}
.banner-content img{
    width:18.177vw;
height: 30.208vw;
left: 45.677vw;
top: 7.031vw;
}
.habit{
    margin: 0;
    padding: 0;
    border: 2px solid red;
    background: black ;
}
.habit-content{
    width: 54.375vw;
height: 23.542vw;
    margin-top: 2.9vw;
    margin-left: 9.8vw;
    margin-right: 9.8vw;
    
}

.habit-content > h1 {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.5vw;
font-weight: 900; 
text-align: left;
padding:0;
width: 24.792vw;
height: 3.021vw;
gap: 14;
margin: 0.729vw;

}

.habit-content > p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.729vw;
font-weight: 400;
line-height: 1.25vw;
letter-spacing:0.016vw;
text-align: center;
gap: 14;
padding: 0px;
margin: 0.729vw 0vw;
width: 34.948vw;
height: 2.5vw;
}
.habit-cards{
    display: flex;
}
.habit-cards h4{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 0.938vw;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
width: 4.844vw;
height: 1.146vw; 
margin: 0.313vw 0vw;

}
.habit-cards p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.729vw;
font-weight: 400;
line-height:0.938vw ;
letter-spacing: 0.016vw;
text-align: center;
width: 12.031vw;
height: 1.875vw; 
margin: 0.313vw 0vw;
}
.extra-mile {
        margin: 0;
        margin-top: 2.9vw;
        padding: 0;
        border: 2px solid red;
        background: black ;
}

.extra-mile-content{
    display: flex;
    width: 55.208vw;
    height: 19.323vw;
    margin-top: 2.9vw;
    margin-left: 9.8vw;
    margin-right: 9.8vw;

}
.extra-mile-text{
    width: 50%;
}
.extra-mile-text h1 {
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.5vw;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
width:23.073vw;
height:6.042vw;
gap: 14;
margin: 0.729vw 0vw;

}
.extra-mile-image {
    width: 50%;
}

.extra-mile-image img {
    width: 19.063vw;
    height: 16.25vw;
    left: 34.479vw;
    top: 1.563vw; 
background: url(4);
}
.calculator{
    margin: 0;
    padding: 0;
    border: 2px solid red;
    background: black;
}
.cal-chart-bmi{
    display: flex;
}
.cal-chart{
    width: 50%;
}
.cal-bmi{
    width: 50%;
}
.creativity {
    margin: 0;
    padding: 0;
    border: 2px solid red;
    background: black;
}
.train-mem-content{
    margin-top: 2.9vw;
    margin-left: 9.8vw;
    margin-right: 9.8vw;
    display: flex;
    
}

.team{
    margin: 0;
    padding: 0;
    border: 2px solid red;
    background: black ;
}
.special{
    margin-top: 2.9vw;
    margin-left: 9.8vw;
    margin-right: 9.8vw;
    
}
.members{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer{
    margin: 0;
    padding: 0;
    border: 2px solid red;
    background: black;
}
.footer-content{
    display: flex;

}
.service-options{
    display: flex;
}
.feature {
    width: 50%;
}
.service-options{
    width: 50%;
}
.getstarted-one{
    width: 50%;
}
.getstarted-two{
    width: 50%;
}
